html.light {
  --color-background: white;
  --color-foreground: #0d0d0d;
  --color-accent: #d557ff;
  --border-style: 1.5px solid;
}

html {
  --color-background: #0d0d0d;
  --color-foreground: white;
  --color-accent: #9a19e0;
  --border-style: 1px solid;

  background: var(--color-background);
  color: var(--color-foreground);
  border: var(--color-foreground);
  transition: color 0.5s ease-in-out;
}

@media (prefers-color-scheme: dark) {
  html {
    --color-background: #0d0d0d;
    --color-foreground: white;
    --color-accent: #9a19e0;
    --border-style: 1px solid;

    background: var(--color-background);
    color: var(--color-foreground);
    border: var(--color-foreground);
  }
}

@media (prefers-color-scheme: light) {
  html {
    --color-background: white;
    --color-foreground: #0d0d0d;
    --color-accent: #d557ff;
    --border-style: 1.5px solid;

    background: var(--color-background);
    color: var(--color-foreground);
    border: var(--color-foreground);
  }
}
